#contenidoLog{
margin-top: 130px; 
}

.titulo{
text-align: center;
font-size: 30px;
}
.recuperando{

 padding-top: 15px;
 text-align: center;

}
.recuperando a.recupera{

    font-weight: bold;
    font-size: 14px;
    color: black;
}